* {
    font-family: "Arial";
}

.header {
    display: flex;
    padding: 10px;
    height: 100px;
    background: #1F2937;
    color: white;
    top: 0;
    width: 100%;
}

.header-logo {
    font-family: "Arial";
    font-size: 48px;
    flex: 1;
}

.header-links {
    font: 18px;
    color: #E5E7EB;
    align-self: right;
    flex: 1 1 0;
}