* {
    font-family: "Arial";
}

.header {
    display: flex;
    padding: 10px;
    height: 100px;
    background: #1F2937;
    color: white;
}

.header-logo {
    font-family: "Arial";
    font-size: 48px;
    flex: 1 1 0;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    align-self: right;
    flex: 1 1 0;
}

button {
    background-color: #3882F6;
    color: white;
}